

filebeat.inputs:              #блок откуда будет забор данных для filebeat. 

  - type: filestream
    id: nginx-access
    enabled: true

    paths:
      - /var/log/nginx/access.log #по ТЗ нужно собирать данные логи

  - type: filestream
    id: nginx-error
    enabled: true

    paths:
      - /var/log/nginx/error.log  #по ТЗ нужно собирать данные логи


output.elasticsearch:        #Этот раздел указывает, куда Filebeat должен отправлять собранные логи.
  hosts:
    - "http://elastic.ru-central1.internal:9200"

  username: "elastic"                 #Логин для входа из под аккаунта, через который будет передача.  
  password: "{{ elastic_password }}"  #Пароль для входа
                                      #Должен совпадать с установленным elasticsearch паролем.